/* Rest Csss */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

body {
  margin: 0;
}
/*  */
.section1 {
  background-color: #edf6ee;
  height: 100vh;
}
/* Container */
.container {
  width: 1100px;
  margin: 0 auto;
}

/* Header */
.nav-item {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin-left: 53px;
}
li a {
  text-decoration: none;
  color: #28450b;
}
#registar {
  color: #edf6ee;
  background-color: #28450b;
  padding: 8px;
  border-radius: 2px;
}

/* Tutors Banner */

.private-tutors-banner {
  display: flex;
  justify-content: space-between;
}
.private-tutors {
  font-weight: 700;
  font-size: 75px;
  color: #28450b;
}
